<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Welcome!</h4>
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <p>Welcome to Mint Book!</p>
        <P>The Mint Address Book, or "Mint Book", is a little project I put together when I first started learning rails.
          As I've grown in my rails abilities I've peroidically come back to this project, and so the Mint Book has grown too.
          For those curious to know what it's all about I've outlined so key features, as well as the technologies used in this project.
        </p>

        <p>Key Features</p>
        <ul style="list-style-type:disc;">
          <li>Ability to create and organize contacts into contact groups</li>
          <li>Cross account invites and sharing of contact groups between users</li>
          <li>Search functionality accross all groups to find the contacts you want</li>
          <li>Page layout dynamically changes to fit smaller screen sizes (phone and tablet)</li>
          <li>Dynamic class association</li>
        </ul>
        

        <p>Technologies Used</p>
        <ul style="list-style-type:disc;">
          <li>Rails 6</li>
          <li>Postgresql</li>
          <li>Heroku</li>
          <li>Devise</li>
          <li>Bootstrap 4</li>
          <li>Adminlte 3</li>
        </ul>
        
        <p>Without further ado, I bring you Mint Book!  </p>
        <p class="text-right" style="padding-right:5px;">-Ron Sloop Jr.</p>

      </div>
      <div class="modal-footer">
        <div class="actions" >
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>
</div>