// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

/*body {
    background-color: #fbeec1;
    border-radius: 15px;
}
.row {
    background-color: #659dbd;

}*/